
[Desktop Entry]
Type=Application
Name=SSH Handler
Exec=/home/user/bin/ssh-handler.sh %u
Icon=utilities-terminal
StartupNotify=false
MimeType=x-scheme-handler/ssh

